// Specific CSS for your home-page
body {
  background-color: #fef3c7;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


@media (max-width: 600px) {
  .letters-container {
    gap: 16px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .letter {
    width: 42px;
    height: 42px;
  }
 }

@media (max-width: 550px) {
  .letters-container {
    gap: 16px;
  }
  .letter {
    width: 38px;
    height: 38px;
  }
 }

 @media (max-width: 490px) {
  .letters-container {
    gap: 8px;
  }
  .letter {
    width: 32px;
    height: 32px;
  }
  .answer-container .answers  {
    grid-template-columns: repeat(4, 1fr);
  }
 }

 @media (max-width: 550px) {
  .letters-container {
    gap: 16px;
  }
  .letter {
    width: 38px;
    height: 38px;
  }
 }

 @media (max-width: 375px) {
  .letters-container {
    gap: 0px;
    padding: 0;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
  }
  .letter {
    width: 38px;
    height: 38px;
    border: none;
    border-right: 1px solid silver;
    box-shadow: none;
  }
  .output {
    width: 300px;
  }
 }
