<div class="clock-container">
  <div class="clock">
    <div class="clock-face">
      <div class="mark mark1 main"></div>
      <div class="mark mark2"></div>
      <div class="mark mark3"></div>
      <div class="mark mark4 main"></div>
      <div class="mark mark5"></div>
      <div class="mark mark6"></div>
      <div class="center-dot"></div>
      <div class="hand" data-start-game-target="dial" data-game-result-target="dial"></div>
      <div ref="highlight" class="second-highlight" data-start-game-target="highlight" data-game-result-target="highlight"></div>
     <div class="hide-highlight"></div>
    </div>
  </div>
</div>
