<div class="letters-container" data-start-game-target="letters">
  <% if @letters %>
    <% @letters.each do |letter| %>
      <span class="letter"><%= letter %></span>
    <% end %>
  <% else %>
    <% 9.times do |_| %>
      <span class="letter"></span>
    <% end %>
  <% end %>
</div>
