<div class="letters-container">
  <span class="letter"></span>
  <span class="letter"></span>
  <span class="letter"></span>
  <span class="letter"></span>
  <span class="letter"></span>
  <span class="letter"></span>
  <span class="letter"></span>
  <span class="letter"></span>
  <span class="letter"></span>
</div>
