<section class="game-container" data-controller="start-game game-result">
  <h1></h1>
  <%= render 'clock' %>
  <%= render 'game' %>

  <audio src="https://www.dropbox.com/s/2tiba1pxdi9kfq9/Countdown%20-%20Clock%20Only%20Theme%20Song%20-%20TelevisionTunes.com.mp3?raw=1" preload data-start-game-target="audio"  data-game-result-target="audio"></audio>
<section>
